 <style>
 body{
 margin:0;
 }
  .don{
  width:30%;
  text-align:left;
  border:2px solid #e0f7fa;
  
  }</style>
  <div class="container">
<div>
<div class="panel panel-success">
<div class="panel-heading">
<div>{{blogPost.blogTitle}}
    </div>

<span><strong>Created By:</strong>{{blogPost.postedBy.username}}</span>
<span ><strong>on:</strong>{{blogPost.postedOn| date:'medium'}}</span>
</div>
<div class="panel-body"> {{blogPost.blogContent}}</div>
</div>
</div>
 <a style="text-align:left;" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes()"></span>{{blogPost.likes}}Likes</a>  
 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Comments</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comments</h4>
        </div>
        <div class="modal-body">
         <textarea rows="4" cols="30" ng-model="blogComment.commentText"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="addComment()">POST COMMENT</button>
        </div>
      </div>
     
    </div>
    
  </div> 
 
 
</div >
<p> Comments</p>
 <div class="don">
    <ul>
  <li ng-repeat="comment in blogComments" >
  <div> {{comment.commentText}}</div> 
 <span> <strong>by:</strong>{{comment.commentedBy.username}}</span>
<span><strong>On:</strong>{{comment.commentedOn|date:'medium'}}</span>
  </li>
</ul>
		</div>
