<table class="table table-striped">
<thead>
<tr>
<th>JobTitle</th>
<th>PostedOn</th>
<th>SkillsRequired</th>
<th>Location</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs | filter:searchTxt">
<td><a href="" ng-click="getJobDetails(job.id)">{{job.jobTitle}}</a></td>
<td>{{job.postedOn| date:'medium'}}</td>
<td>{{job.skillsRequired}}</td>
<td>{{job.location}}</td>
</tr>
</tbody>
</table>

<pre style="color:#616161;">
JobTitle:{{job.jobTitle}}
JobDescription:{{job.jobDescription}}
SkillsRequired:{{job.skillsRequired}}
Salary:{{job.salary}}
Location:{{job.location}}
CompanyName:{{job.companyname}}
PostedON:{{job.postedOn|date:'medium'}}
</pre>