<table class="table table-striped">
<tbody>
<tr ng-repeat="request in pendingRequests">
<td>
<a ng-click="getUserDetails(request.fromid)">
<img src="http://localhost:8086/collabbackend/getProfilepic/{{request.fromid}}" class="img-circle" height="50px" width="50px">
</a>
</td>

<td><a ng-click="getUserDetails(request.fromid)">{{request.fromid}}</a>


</td>
<td><a href="" class="btn btn-default" ng-click="updatePendingRequest(request,'A')">Accept</a>
<a href="" class="btn btn-default" ng-click="updatePendingRequest(request,'D')">Delete Request</a>
</td>
</tr>
</tbody>

</table>

<div ng-show="showUserDetails">
Firstname : {{user.firstname}}<br>
Lastname : {{user.lastname}}<br>
Email: {{user.email}}<br>
PhoneNumber : {{user.phonenumber}}<br>
Role: {{user.role}}
</div>