<div class="container">
 <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading c-list">
                    <span class="title">Suggested Users</span>
              </div>
            <ul class="list-group" id="contact-list" ng-repeat="user in suggestedusers">
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3" >
                           <a href="#!friendprofile/{{user.username}}"><img src="http://localhost:8086/collabbackend/getProfilepic/{{user.username}}"  class="img-responsive img-circle" /></a> 
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <a href="#!friendprofile/{{user.username}}"><span class="name">{{user.username}}</span></a>
                              <br/>
                           	<span ng-if="mutualFriends[user.username].length > 0">{{mutualFriends[user.username].length}} mutual friends</span>
                           	<span ng-if="mutualFriends[user.username].length == 0">No mutual friends</span>
                           	<a class="btn btn-success" ng-click="sendFriendRequest(user.username)" style="float: right;"><span class="glyphicon glyphicon-plus"></span> Add Friend</a>
                    
                           	  </div>
                        <div class="clearfix"></div>
                    </li>
                                   </ul>
            </div>
        </div>
	</div>
 
</div>
