@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,300);

body {
  font-family: 'Poppins', sans-serif;
}


.site-header {
  background-color: #1D1F20;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  margin: 0px 30px 0px 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  display: inline-block;
}

.site-nav .active a {
  color: #F89406;
  font-weight: bold;
  background: #000;
}

.site-nav ul li:hover {
  background: rgba(52,52,54,0.6);
}





@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }
  
  .site-nav {
    order: 2;
    width: 100%;
    background:#414143;
  }
}